*{
    margin:0px;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(39, 17, 148);
    color:white;
    padding:10px
}

.header h1{
    color: white;
    margin: 0;
    text-align:center;
}

.header li{
    display: inline-block;
    padding: 5px;
    font-size: 20px;
}
.footer{
    background-color: rgb(185, 27, 27);
    padding: 5px;
}
.row {
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

.logo{
     width: 300px;
    height: 150px;
    padding:20px;
    margin-left:37%;
}
.box{

    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    width: 320px;
    height: 340px;   /* fixed box height */

}


.edit-btn{
    color:black;
    background-color:rgb(105, 213, 250);
    cursor:pointer;
    padding:10px 20px;
    margin:10px;
    border:0px;
    border-radius:5px;
}

.dlt-btn{
    color:black;
    background-color:rgb(105, 213, 250);
    cursor:pointer;
    padding:10px 20px;
    margin:10px;
    border:0px;
    border-radius:5px;
}

.reg-btn{
    color:black;
    background-color:rgb(105, 213, 250);
    cursor:pointer;
    padding:10px 20px;
    margin:10px;
    border:0px;
    border-radius:5px;
          display: block;
      margin-left: auto;
      margin-right: auto;
}


.nav-icon{
    color:white;
}

.nav-icon:hover {
  color: #38bdf8;      /* changes color */
  transform: scale(1.1); /* slightly enlarges */
}

.adduser-icon{
  padding: 10px 15px;
  color: brown;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 100px;
}