<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
/>
</head>
<body>
    <div class="container">
    <h2 style="padding:30px 0px ; color:blue;">Users Admin Page</h2>
    <!-- <a href="/users/add">Add User</a> -->
    <a href="/users/add" class="adduser-icon">
                    <i class="fa-solid fa-user-plus">Add User</i>
                  </a>
    <ol style="font-size:25px;">
    <% users.forEach(user => { %>
        <li>
            <div class='user-info'  style="font-size:25px;"><strong>Name:</strong><%= user.email %><br>
                <strong>Password:</strong><%= user.password %></div>
            <button onclick='window.location.href="/users/<%= user._id %>/edit"' class="edit-btn">Edit</button>
            <button onclick='window.location.href="/users/<%= user._id %>/delete"' class="dlt-btn">Delete</button>
        </li>
    <% }) %>
    </ol>

    </div>
</body>
</html>